@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-space-black text-ui-text antialiased overflow-hidden;
  }
}

@layer utilities {
  .text-glow {
    text-shadow: 0 0 10px rgba(0, 255, 65, 0.5);
  }
  
  .font-display {
    font-family: 'Rajdhani', sans-serif;
  }
  
  .font-mono {
    font-family: 'Share Tech Mono', monospace;
  }
  
  .font-logo {
    font-family: 'Megrim', cursive;
  }
  
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

    /* Custom Scrollbar for visible areas */
  .custom-scrollbar::-webkit-scrollbar {
    width: 4px;
  }

  .custom-scrollbar::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0.02);
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 2px;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: rgba(255, 255, 255, 0.2);
  }
}
